.logged-out-container form { display: table; }
.logged-out-container p { display: table-row; }
.logged-out-container label { display: table-cell; }
.logged-out-container input { display: table-cell; }

div .alert { width: 300px; }

.container-fixed {
  margin: 0 auto;
  max-width: 970px;
}

.delete-button {
    display: none;
}

.edit-links-do { 
    display: none; 
}

